.idea
.gradle
.DS_Store
../.DS_Store

/build/
/backend/.gradle
/backend/build
/backend/*.iml

/frontend/node_modules
/frontend/*.iml
/frontend/build/
/frontend/public/images/

/static/
/config/
/deploy/
